@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<main>
<div class="row">
    <div class="img1">
        <img src="~/images/mainPhoto.jpeg" />
    </div>
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            Contoso University is one of the best colleges 
            in the great state of Georgia! We have so much
            to learn. Start your degree today.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Start from scratch</h2>
        <p>With our wide selection of degrees you can choose
        from various options.</p>
        <p>
            <a class="btn btn-default"
               href="/Courses">
                View our courses &raquo;
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Have a lot of colleges on your mind?</h2>
        <p>Download our brochure down below to check out the amazing
        things we have to offer.</p>
        <p>
            <a class="btn btn-default"
               href="/fake">
                Download brochure &raquo;
            </a>
        </p>
    </div>
</div>
</main>
